<h1><%= @group.name %> </h1>

<h4>These are members of <%= @group.name %></h4>
<div>
  <% if @group.members.any? %>
  <ul>
    <% @group.members.each do |member| %>
      <li><%= member.name %></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are currently no members in this group</p>
  <% end %>
</div>


<p>Member availability:</p>

<ul>
  <li>Sunday: <%= @hash["Sunday"] %></li>
  <li>Sunday: <%= @hash["Monday"] %></li>
  <li>Sunday: <%= @hash["Tuesday"] %></li>
  <li>Sunday: <%= @hash["Wednesday"] %></li>
  <li>Sunday: <%= @hash["Thurday"] %></li>
  <li>Sunday: <%= @hash["Friday"] %></li>
  <li>Sunday: <%= @hash["Saturday"] %></li>
</ul>

<br>
<a href='/'>Take me home tonight</a>
