<h1><%= @group.name %> </h1>

<h4>These are members of <%= @group.name %></h4>
<div>
  <% if @group.members.any? %>
  <ul>
    <% @group.members.each do |member| %>
      <li><%= member.name %></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are currently no members in this group</p>
  <% end %>
</div>


<p>Member availability:</p>

<% if @group.members.any? %>
  <% @hash.each do |day_of_week, available_members| %>
    <p><%= day_of_week %>: <%= available_members.join(', ') %>
  <% end %>
<% else %>
  <p>No members have signed up for a day.</p>
<% end %>

<br>
<br>
<a href='/'>Take me home tonight</a>
