<h1><%= @group.name %> </h1>

<h4>These are members of <%= @group.name %></h4>
<div>
  <% if @group.members.any? %>
  <ul>
    <% @group.members.each do |member| %>
      <li><%= member.name %></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are currently no members in this group</p>
  <% end %>
</div>


<p>Member availability:</p>
<!-- <div>
  <ul>
    <% @member.days.each do |day| %>
      <li><%= day.name %></li>
    <% end %>
  </ul>
</div> -->
<%= @hash["Sunday"] %>
<%= @hash["Monday"] %>
<%= @hash["Tuesday"] %>
<%= @hash["Wednesday"] %>
<%= @hash["Thurday"] %>
<%= @hash["Friday"] %>
<%= @hash["Saturday"] %>

<!--
<p><%= @monday %> :</p>
<p>day.name</p>
<p>day.name</p>
<p>day.name</p>
<p>day.name</p>
<p>Sunday :</p> -->


<br>
<a href='/'>Take me home tonight</a>
