
<h2>GROUPS</h2>
<div>
  <% if @groups.any? %>
    <% @groups.each do |group| %>
      <div class="row">
        <div class="col-md-4">
          <li><a href="/group/<%= group.id %>"><%= group.name %></a></li>
        </div>
        <div class="col-md-8">
           <a href='/group/edit/<%= group.id %>'>edit |</a>
           <form action="/group/delete/<%= group.id %>" method="post">
             <input name="_method" type="hidden" value="delete">
             <button class="btn btn-outline-success btn-block" type="submit">Delete Group</button>
           </form>
        </div>
      </div>
    <% end %>
  <% end %>
</div><br>

<a href='/group/create'>Create New Group</a><br><br>

<h2>MEMBERS</h2>
<div>
  <% if @members.any? %>
    <% @members.each do |member| %>
      <div class="row">
        <div class="col-md-4">
          <li><a href="/member/<%= member.id %>"><%= member.name %></a></li>
        </div>
        <div class="col-md-8">
           <a href='/member/edit/<%= member.id %>'>edit |</a>
           <form action="/member/delete/<%= member.id %>" method="post">
             <input name="_method" type="hidden" value="delete">
             <button class="btn btn-outline-success btn-block" type="submit">Delete Member</button>
           </form>
        </div>
      </div>
    <% end %>
  <% end %>
</div><br>

<a href='/member/create'>Create New Member</a><br><br>
